{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAMID.com.leximegastore.leximegastore",
        "paths": [
          "/product/*",
          "/s/*",
          "/index.php/product/*",
          "/index.php/s/*"
        ]
      }
    ]
  }
}
